[data-stack] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 101px;
  background-color: aliceblue;
  margin: 25px;
}

[block] {
  width: 25px;
  float: left;
}

[block="25"] {
  height: 25px;
  background-color: blue;
}

[block="50"] {
  height: 50px;
  background-color: green;
}

[block="75"] {
  height: 75px;
  background-color: red;
}

[block="100"] {
  height: 100px;
  background-color: yellow;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
