body {
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

a {
    display: flex;
    flex-direction: row;
    margin-left: 90%;
}

h1 {
    margin: auto;
    text-align: center;
}

h3 {
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
}

#container {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#inputDiv {
    margin: auto;
}

#outputDiv {
    margin: auto;
}

textarea {
    font-family: sans-serif;
}