body {
  background-color:  #0d47a1;
  text-align: center;
}

h1 {
font-family: 'Open Sans', sans-serif;
color: #FFD700;
text-shadow: -1px 0 #FEFEFF, 0 3px #FEFEFF, 1px 0 #FEFEFF, 0 1px #FEFEFF;
}
Button:hover {
  transform: scale(1.2);
}
Button {
  width: 300px;
  margin-top: 10px;
}
/*ul{
  border: 1px solid black;
}*/
h4 {
  color: #FFD700;
  font-family: sans-serif;
  font-size: 30px;
  background: #2962ff;
  text-shadow: 3px 3px 3px black;
  line-height: 100%;
}
h3 {
  color: #FFD700;
  font-family: sans-serif;
  font-size: 40px;
  background: #2962ff;
  text-shadow: 3px 3px 3px black;
  margin: 0px;
}
h6 {
  color: white;
  /*font-weight: bolder;*/
  font-family: 'Noticia Text', serif;
  font-weight: 100;
  font-size: 20px;
  background: #2962ff;
}
#board {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
#control {
  margin: 20px;
  background-image: url('lightsabre.png');
  background-repeat: no-repeat;
}
#category {
  margin: 5px;
  width: 15%;
  text-align: center;
  /*border: 10px solid black;*/
}
#collectionItem {
  height: 75px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  font-size: 50px;
  background: #2962ff;
  text-align: center;
}
#collectionItem:hover{
  transform: scale(1.1);
  /*border-top: 2px solid #FFD700;*/
  border-bottom: 2px solid #FFD700;
  border-radius: 10px;
  text-align: center;
}
.collection.with-header .collection-header {
  background-color: #2962ff;
  border: none;
  border-radius: 5px;
}
.collection {
  width: 100%;
  border: none;
}
/*#answerBox{
    height: 100%;
    width:100%;
}*/
/*#answerDisplay {
  position: absolute;
  background: #2962ff;
  /*border: 5px solid white;*/
  /*width: 95%;
  height: 500px;
  margin-top: 7px;
}

#keyInput {
  width: 10px;
  background: white;
  height: 25px;
}*/
