body {
  background-color:  #0d47a1;
  text-align: center;

}
h1 {
  font-family: 'Open Sans', sans-serif;
  color: #FFD700;
  text-shadow: -1px 0 #FEFEFF, 0 3px #FEFEFF, 1px 0 #FEFEFF, 0 1px #FEFEFF;
  margin-top:15px;
  margin-bottom:20px;
}
h2 {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  text-shadow: 2px 2px 2px black
}
h3 {
  color: #FFD700;
  font-family: sans-serif;
  font-size: 40px;
  background: #2962ff;
  text-shadow: 3px 3px 3px black;
  margin: 0px;
}
h4 {
  color: #FFD700;
  margin: 0;
  font-family: sans-serif;
  font-size: 30px;
  background: #2962ff;
  text-shadow: 3px 3px 3px black;
  line-height: 100%;
}
h6 {
  color: white;
  /*font-weight: bolder;*/
  font-family: 'Noticia Text', serif;
  font-weight: 100;
  font-size: 20px;
  background: #2962ff;
}
Button:hover {
  transform: scale(1.2);
}
Button {
  width: 300px;
  margin-top: 10px;
}
#board {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
#control {
  margin: 20px;
  background-image: url('lightsabre.png');
  background-repeat: no-repeat;
  margin: 0px;
  margin-bottom: 10px;
}
#category {
  margin: 5px;
  width: 15%;
  text-align: center;
  /*border: 10px solid black;*/
}
#collectionItem {
  height: 50px;
  margin: 5px;
  padding-left: 20px;
  border-radius: 5px;
  border: none;
  font-size: 50px;
  background: #2962ff;
  text-align: center;
}
#collectionItem:hover{
  transform: scale(1.1);
  /*border-top: 2px solid #FFD700;*/
  border-bottom: 2px solid #FFD700;
  border-radius: 10px;
  text-align: center;
}
.collection.with-header .collection-header {
  background-color: #2962ff;
  border: none;
  border-radius: 5px;
}
.collection {
  width: 100%;
  border: none;
}
#playersFrame{
  width:100%;
  display: flex;
  justify-content: center;
  /*justify-content: space-around;*/
  height: 150px;
  /*margin-bottom: 10px;
  margin-top: 10px;*/
}
.scoreCard {
  width: 25%;
  margin-top: 10px;
  background-color: #2962ff;
  border: 10px solid #4e342e;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px;
  box-shadow: -1px 3px 10px black;
  border-radius: 10px;
}
p {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 5px;
  color: white;
}
#inputFrame {
  display: flex;
  justify-content: center;
  height: 25px;
}
#keystrokeListener{
  width: 30px;
  height: 20px;
  background: white;
  box-shadow: 2px 2px 2px black;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  margin-right: 15px;
}
#guessInput{
  width: 175px;
  height: 20px;
  background: white;
  box-shadow: 2px black;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  margin:0px;
  margin-right: 10px;
  box-shadow: 2px 2px 2px black;
}
#submitGuess{
  height: 20px;
  box-shadow: 2px 2px 2px black;
  background-color: white;
  font-size: 12px;
}
.inputPara {
  margin-top: 0px;
  margin-right: 10px;
  font-size: 15px;
}
#commentFrame {
  diplay: flex;
  justify-content: center;
  height: 20px
}
#questionWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
#questionSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2962ff;
  border-radius: 10px;
  height: auto;
  width: 600px;
  padding: 20px;
  border: 5px solid black;
  height: 300px;


}
#questionDisplay {
  font-size: 60px;
  text-shadow:4px 4px 4px black;
}
