h1 {
  color: black;
  text-align: center;
  font-size: 300%;
  font-family: 'Roboto', sans-serif;
  background-color: lightblue;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

h4 {
  font-family:'Roboto', sans-serif;
  font-size: 100%;
}

h3 {
  font-size: 150%;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: .5em;
}

article {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2em;
}

.card {
  padding: .5em;
  min-height: 9em;
}
