div{
  color: blue;
}
#results{
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.recPic {
  height: 300px;
  width: 300px;
  //border: black solid 1px;

}

#catPic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
