/* CSS Reset -- Typically in reset.css.  Place right below comment if no reset.css is referenced in html */

/* Box Sizing border-box */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: Arial;
  color: skyblue;
}

header {
  width: 90%;
  margin: auto;
  padding: 10px 0px 20px 0px;
  background-color: darkslategray;
  border-bottom: 2px groove darkgray;
  /*margin-bottom: 10px;*/
}

h3 {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16pt;
  color: white;
}

.web-title {
  font-size: 24pt;
  text-align: center;
}

/*Panel for the assignment*/
.my-tests {
  width: 90%;
  margin: auto;
  background-color: darkslategray;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*align-items: flex-end;*/
}

/*Style for each test section*/
.test {
  width: 100%;
  padding: 10px;
  border: 2px groove gray;
  border-radius: 5px;
  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 10px;

}

#current-date {
  font-weight: bold;
  font-style: italic;
  /*color: white;*/
}

/*Used for Test 1 date test*/
.underline {
  border-bottom: 2px solid skyblue;
}

/*Button styling*/
.btn {
  font-size: 14pt;
  margin-left: 20px;
  background-color: skyblue;
  color: darkslategray;
}

/*input field styling*/
.num, .str {
  font-size: 16pt;
  text-align: center;
  background-color: darkslategray;
  color: inherit;
  width: 10%;
  /*margin-left: 20px;*/

}

/*Using these question styles to control flexbox objects*/
.question {
  width: 10%;
  /*margin: 0px 5px;*/
}

.q2 {
  width: 90%;
}

.q4 {
  width: 70%;
}

.qlast {
  width: 100%;
}

/*Styling for the result sentences*/
.sentence {
  padding-left: 50px;
  font-size: 24pt;
}

.sentence4b, .sentence4c, .sentence4d {
  width: 100%;
}

.secret {
  color: yellow;
  font-weight: bold;
}
