# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*

# OS artifacts
*.DS_Store

# Do I really need workspace files in my repo?
javascript-workbook.code-workspace
# a sep folder to do quick scripts in
practice/
