C:\Users\stack\Documents\GitHub\schooly\javascript-workbook\01week\rockPaperScissors.html
C:\Users\stack\Documents\GitHub\schooly\javascript-workbook\02week\ticTacToe.html
C:\Users\stack\Documents\GitHub\schooly\javascript-workbook\05week\checkers.html
# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*

# OS artifacts
*.DS_Store
