body {
  background-image: url("background.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 50%;
}

body {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin-top: 100px;
  color: gainsboro;
}

img {
  width: 100%;
  border: 3px solid black;
}

.contain {
  margin-top: 100px;
  background: rgb(125, 127, 127); /* Fallback */
  background: rgba(125, 127, 127, 0.5);
  border-radius: 10px;
  padding: 10px;
}

.week {
  margin: auto;
  width: 100%;
  height: auto;
  display: inline-flex;
}

.assignment {
  width: 40%;
  height: auto;
  margin: auto;
  padding: 10px;
}

a {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
