.container {
    width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
    background-color: aqua;
}
 h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.q {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    font-size: 100px;
}
.q:hover {
    background-color: azure;
}
#q0, #q1, #q2, #q3, #q4, #q5 {
    border-bottom: 10px solid black;
}
#q2, #q5, #q8, #q1, #q4, #q7 {
    border-left: 10px solid black;
}
.winner {
    color: red;
}
