h1, h2, h3, h4, h5, h6, a, li, p {
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style: none;
}

.title {
  text-align: center;
  letter-spacing: 1.25px;
}

.gist-title {
  letter-spacing: 1.25px;
}

#posts {
  border-right: 1px solid hsla(0, 100%, 0%, 0.5);
}

.posts-area {
  padding: 3% 1%;
}

#comments {
  font-style: italic;
}
