body {
	margin-top: 5%;
}

#title {
	margin-bottom: 50px;
}

#posts, #comments {
	list-style: none;
}

#comments li.borderline {
	border-top: 1px solid #999;
	margin-bottom: 30px;
	margin-top: 10px;
}

.avatar {
	height: 50px;
	width: 50px;
    //height: auto;
    //width: 100%;
    display: inline;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-top: 5px;
}

.user {
	float: left;
	font-weight: 600;
	margin-left: 5px;
}

.date {
	float: right;
}

.comment {
	margin-left: 5px;
	padding-left: 50px;
    padding-top: 5px;
}

img {
	max-width: 100%;
	box-sizing: border-box;
}