body {
  margin: 0;
  font-family: Avenir;
  font-size: 30px;
  background-color: rgb(65, 65, 65);  
  color: #202020;
}

.title {
  text-align: center;
}

button {
  margin: auto;
  height: 40px;
  font-family: Avenir;
  font-size: 20px;
  background-color: #202020;
  color: darkgray;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template: repeat( 3, 1fr) / repeat( 3, 1fr);
  margin: 25px auto;
  height: 80vh;
}

.towerContainer {
  width: 300px;
  height: 500px;
  margin: auto;
  z-index: 1;
}

.filler {
  height: 50px;
  z-index: 999;
}

.tower {
  position: absolute;
  background-color: #202020;
  margin-left: 125px;
  height: 500px;
  width: 50px;
  cursor: pointer;
  color: rgba(0,0,0,0);
  z-index: 0;
}

.blocks {
  position: relative;
  z-index: 999;
  cursor: pointer;
  margin: auto;
}