body {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Avenir;
    font-size: 30px;
    background-color: rgb(65, 65, 65);  
    color: #202020;
}

.title {
    text-align: center;
    margin-bottom: 150px;
}

.container {
    display: grid;
    grid-template: repeat( 3, 1fr) / repeat( 3, 1fr);
    margin: auto;
    height: 600px;
    width: 1000px;
}

.tower {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    margin: auto;
    height: 600px;
    width: 50px;
    font-size: 50px;
    cursor: pointer;
    color: rgba(0,0,0,0);
}

.text {
    text-align: center;
    margin-top: 150px;
}