* {
	margin: 0;
    padding: 0;
	
} 

#one { 
    width: 50px;
    height: 25px;
    padding: 0.5em;
    background: #ec2727;
}

#two {
    width: 75px;
    height: 25px;
    padding: 0.5em;
    background: #409d34
}

#three {
    width: 100px;
    height: 25px;
    padding: 0.5em;
    background: #2762ec;
  
}

#four {
    width: 125px;
    height: 25px;
    padding: 0.5em;
    background: yellow;
  

}

body {
    text-align: center;
    background: #ab27ec;
}

section {
	margin:120px auto auto auto;
}

.tower {
	border-bottom: 10px solid #fff;
	width: 30%;
	height: 300px;
	display: inline-block;
	border-radius: 7px;
    text-align: center;
}

.tower:after {
	content: " ";
	color: #fff;
	width: 10px;
	height: 300px;
	background: #fff;
	position: absolute;
	z-index: -999999;
	border-radius: 10px;
} 
 
