body {
    margin: 0 auto;
    width: 75%;
    padding: 2%;
    background-image: url(./bad\ ass\ background\ image.jpeg)
  
}

#main-container {
    display: flex;
    /* height: 400px; */
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    font-family: raleway;
}

#apiButton {
color: rgb(255, 255, 255);
background-color: #4D4D4D;
padding: 10px;
width: 75px;
font-size: 20px;
font-family: kanit;
margin-top: 5px;
}