* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

.m {
  width: 100%;
  height: 100%; 
}

.allBox {
  width: 75%;
  height: 50vh;
  margin: 0px auto;
  margin-top: 75px;
  background-color: mistyrose;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

#person { 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blue; 
}

#person p {
  border: 1px solid green;
  height: 90px;
  width: 120px;
  display: flex;
  flex-direction: column;
}

.button {
  height: 5vh;
  width: 7vw;
  cursor: pointer;
}

