* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%; 
}

.allBox {
  width: 75%;
  height: 50vh;
  margin: 0px auto;
  margin-top: 75px;
  background-color: mistyrose;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pBox {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 5vh;
  width: 7vw;
  cursor: pointer;
}

