body {
  margin: 10px;
}

h1 {
  color: purple
}

.main-container {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.tictactoe {
  border: 2px solid red;
  background-color: antiquewhite;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-board {
  border: 1px solid blue;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.game-board-row {
  height: 33.3%;
  display: flex;
  flex-direction: row;
}

.game-board-cell {
  width: 33%;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: darkmagenta;
  background-color: antiquewhite;
}

button {
  color: black;
  background-color: antiquewhite;
  height: 30px;
  margin-top: 10px;
  width: 500px;
  display: flex;
  justify-content: center;
}

.winner-container {
    color: red;
    width: 500px;
    margin-top:40px;
    display: flex;
    justify-content: center;
}

#announce-winner {
  color: red;
  font-size: 2rem;
  width: 500px;
  display: flex;
  justify-content: center;
}