div[data-cell] {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    float: left;
    border: 1px solid #808080;
    font-size: 100px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    padding-bottom: 5px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.row {
    clear: both;
}

#announce-winner {
    clear: both;
    font-size: 30px;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: left;
    padding-left: 20px;
    margin: 20px, 0;
}

button {
    margin-bottom: 20px;
}

