body {
background:lightblue;
}

/*Title*/
h1 {
  margin: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
}

/*Game Board*/
.board {
  background:white;
  width:17%;
  height:50%;
  margin: 20px;
}

[data-stack] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: 260px;
  background-color: darkgrey;
  margin: 5px;
}

[data-block] {
  width: 25px;
  height: 25px;
  margin: 2px;
}

/*Mastermind Colors*/
[data-block="1"] {
  background-color: lightblue; }

[data-block="2"] {
   background-color: red; }

[data-block="3"] {
  background-color: yellow; }

[data-block="4"] {
  background-color: green; }

[data-block="5"] {
  background-color: purple; }

[data-block="6"] {
  background-color: orange; }

[data-block="7"] {
  background-color: white; }

[data-block="8"] {
  background-color: black; }

p {
  font-family: 'Roboto Condensed', sans-serif;
  
}

/*Guess Button*/
.btn {
  display:flex;
  margin: 20px;
}
