body {
    background: url(images/background.jpg);
    text-align: center;
    margin: 60px;
}

.title {
    font-family: 'Kanit', sans-serif;
}

.instructions {
    font-family: 'Kanit', sans-serif;
}

.input {
    height: 40px;
    border: 3px black solid;
    font-size: 25px;
    text-align: center;
}

.text {
    font-size: 30px;
}