body {
    background-image: url(https://images.unsplash.com/photo-1452001603782-7d4e7d931173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    color:rgb(232,197,9);
}

#pig_latin {
    font-size: 50px;
    color: white;
}