.container {
  display: flex;
  margin: 5px;

}
.container > div {
  flex: 1; /*grow*/
}
p{
  align-self: center;
}
#close{
  flex-direction: column;
  background-color: blue;
  width: 30%;
  height: 80px;
  justify-content: space-around;
}
#close > div{
  text-align: center;
  width: 20px;
  background: white;
}

#board{
  flex-direction: column-reverse;
  text-align: center;
  background: #87b6df;
  width: 40%;
  height: 500px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-family: Cambria;

}
#board >div{
  text-align: center;
  width: 25%;
  background: green;
}

#exact {
  flex-direction: column;
  background-color: red;
  width: 30%;
  height: 80px;
  justify-content: space-around;
}
#exact > div{
  width: 20px;
  background: white;
}
