body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.boardBox{
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  float: left;
  border: 1px solid #808080;
  font-size: 100px;
  text-align: center;
}

.row {
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 50px;
}