.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  height: 74px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 74px;
}

.square:focus {
  outline: none;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
