* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* List of People Section */
.topLeft {
  width: 45vw;
  height: 55vh;
  background: rgb(149, 149, 149);
  display: grid;
  grid-template-rows: 0.5fr 1fr 5fr;
  border-radius: 8px;
  justify-self: center;
  align-self: center;
}

/* All H4s */
h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  justify-self: center;
  align-self: center;
}

#people li {
  margin: 10px 0px 0px 25px;
  padding: 2px;
}

/* Dodge Ball Players Section */
.topRight {
  width: 45vw;
  height: 55vh;
  margin: 35px;
  display: grid;
  grid-template-rows: 0.5fr 6fr;
  justify-content: center;
  align-items: start;
  background: rgb(124, 165, 138);
  border-radius: 8px;
}

#players {
  margin-top: 25px;
}

/* Blue Team Section */
.lowLeft {
  width: 45vw;
  height: 55vh;
  margin: 35px;
  display: grid;
  grid-template-rows: 0.5fr 6fr;
  justify-content: center;
  align-items: start;
  background: rgb(117, 121, 180);
  border-radius: 8px;
}

#blue {
  margin-top: 25px;
}

#blue li {
  margin: 15px;
}

/* Red Team Section */
.lowRight {
  width: 45vw;
  height: 55vh;
  margin: 35px;
  display: grid;
  grid-template-rows: 0.5fr 6fr;
  justify-content: center;
  align-items: start;
  background: rgb(189, 132, 132);
  border-radius: 8px;
}

#red {
  margin-top: 25px;
}

#red li {
  margin: 15px;
}

/* Button Mania */
.topButton {
  width: 5em;
  height: 3.5em;
  margin-left: 25px;
  border: 1px solid white;
  background-color: lightgray;
  color: black;
  border-radius: 7px;
  cursor: pointer;
  align-self: center;
}

.personButton {
  width: 4em;
  height: 2.5em;
  border: 1px solid white;
  background-color: lightgray;
  color: black;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 10px;
}

.blueButton {
  width: 4em;
  height: 2.5em;
  border: 1px solid white;
  background-color: rgb(117, 121, 180);
  color: black;
  border-radius: 7px;
  cursor: pointer;
  margin: 3px;
}

.redButton {
  width: 4em;
  height: 2.5em;
  border: 1px solid white;
  background-color: rgb(189, 132, 132);
  color: black;
  border-radius: 7px;
  cursor: pointer;
  margin: 3px;
}

.removePlayerButton {
  width: 4em;
  height: 2.5em;
  border: 1px solid white;
  background-color: rgb(216, 213, 183);
  color: black;
  border-radius: 7px;
  cursor: pointer;
  margin: 3px;
}
